<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- INSERT CSS HERE  -->
</head>
<body id="ADD PAGE ID HERE">

<!-- nav -->
<nav>
    <!-- INSERT NAV HERE  -->
</nav>
<!-- END: nav -->

<!-- header -->
<header class="single-line"> <!-- Remove class for double-line heading -->
    <!-- ADD LOGO IMAGE HERE -->

    <span>Header Copy</span>
</header>
<!-- END: header -->


<!-------------------------------- PAGE -------------------------------->
<article id="page-content">
    <!-- ADD PAGE CONTENT HERE -->

    <a href="#" class="popup-link" data-popup-id="popup-1">popup link test</a> | <a href="#" class="popup-link" data-popup-id="popup-2">popup link test</a>
</article>
<!-------------------------------- END --------------------------------->

<div id="refs-overlay" class=""></div>

<!-- references -->
<article id="references" class="">
    <img class="ref-close-button" alt="" src="./shared/imgs/icon-close.png" />

    <h3>References</h3>
    <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Sed fermentum tortor ligula, id semper quam volutpat id. Proin fringilla eu lacus at tincidunt.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum tortor ligula, id semper quam volutpat id. Proin fringilla eu lacus at tincidunt.</li>
        <li>Curabitur vestibulum pulvinar diam ac porttitor.</li>
        <li>Quisque dui metus, facilisis id metus id, euismod malesuada nisi. Morbi tristique felis ex, nec scelerisque purus dapibus ut.</li>
    </ol>
</article>
<!-- END: references -->

<!-- footer -->
<footer>
    <!-- YOU CAN ADD LOGO OR LINKS TO PI/REFS HERE -->
    <img class="pages-link" alt="" src="./shared/imgs/icon-pages.png" />
    <img class="refs-link" alt="" src="./shared/imgs/icon-refs.png" />
    <img class="pi-link" alt="" src="./shared/imgs/icon-pi.png" />

    <section>
        ADD SOME FOOTNOTES HERE
    </section>
</footer>
<!-- END: footer -->

<div id="popup-overlay" class=""></div>
<!-- popup 1 -->
<div id="popup-1" class="popup">
    <div>
        <img class="pop-close-button" alt="" src="./shared/imgs/icon-close.png" />

        <h1>Nulla imperdiet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum quam finibus eleifend consequat. Nulla imperdiet eros eget purus fringilla, id porttitor neque maximus.</p>
        <p>Aliquam tincidunt, elit gravida vehicula placerat, sapien neque aliquet lorem, id aliquet nulla nisl nec dui. Praesent feugiat sed est eget maximus. Nam gravida leo in sagittis finibus. Suspendisse potenti.</p>
        <p>Sed augue justo, consequat vitae sapien vitae, placerat hendrerit urna. Vestibulum iaculis maximus mauris, ac congue quam iaculis vitae.</p>
    </div>
</div>

<!-- popup 2 -->
<div id="popup-2" class="popup">
    <div>
        <img class="pop-close-button" alt="" src="./shared/imgs/icon-close.png" />

        <h1>Nulla imperdiet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum quam finibus eleifend consequat. Nulla imperdiet eros eget purus fringilla, id porttitor neque maximus.</p>
        <p>Aliquam tincidunt, elit gravida vehicula placerat, sapien neque aliquet lorem, id aliquet nulla nisl nec dui. Praesent feugiat sed est eget maximus. Nam gravida leo in sagittis finibus. Suspendisse potenti.</p>
        <p>Sed augue justo, consequat vitae sapien vitae, placerat hendrerit urna. Vestibulum iaculis maximus mauris, ac congue quam iaculis vitae.</p>
    </div>
</div>

</body>
<script src="./shared/js/veeva-library.min.js"></script>
<script src="./shared/js/jquery-3.3.1.min.js"></script>
<!-- INSERT JS HERE  -->
<script>
    highlightNav('.goTo-ADD PAGE ID HERE');
</script>
</html>
